// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

page-list {
    .red {
        color: color($colors, danger) !important;
    }

    .blue {
        color: color($colors, primary)
    }
}

page-search {
    a {
        text-decoration: none;
    }

    .card-wrap {
        height: 100%;
        max-width: 500px !important;
        display: -webkit-box!important ;
        display: -moz-box!important ;
        display: -ms-flexbox!important ;
        display: -webkit-flex!important ;
        display: flex!important ;
        -webkit-box-direction: normal!important ;
        -moz-box-direction: normal!important ;
        -webkit-box-orient: vertical!important ;
        -moz-box-orient: vertical!important ;
        -webkit-flex-direction: column!important ;
        -ms-flex-direction: column!important ;
        flex-direction: column!important ;
        -webkit-flex-wrap: nowrap!important ;
        -ms-flex-wrap: nowrap!important ;
        flex-wrap: nowrap!important ;
        -webkit-box-pack: justify!important ;
        -moz-box-pack: justify!important ;
        -webkit-justify-content: space-between!important ;
        -ms-flex-pack: justify!important ;
        justify-content: space-between!important ;
        -webkit-align-content: space-around!important ;
        -ms-flex-line-pack: distribute!important ;
        align-content: space-around!important ;
        -webkit-box-align: stretch!important ;
        -moz-box-align: stretch!important ;
        -webkit-align-items: stretch!important ;
        -ms-flex-align: stretch!important ;
        align-items: stretch!important ;
    }

    span {
        display: block;
    }
}